body {
    background-color: #0a635b;
}

* {
    padding: 0;
    margin: 0;
}
#score{
    font-size: 100px;
    color: #eee;
}
canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}